<footer>
  <div class="container-fluid text-white">
    <div class="row">
      <div class="col-lg-3 p-2 text-center">
        <a href="#"><img src="assets/img/logo.jpeg" alt=""></a>
      </div>
      <div class="col-lg-3 p-4">
        <h3>Orario:</h3>
        <p>Da Martedi a Sabato: 8:00 - 13:00</p>
        <p>Chiuso: Domenica e lunedi</p>
      </div>
      <div class="col-lg-3 p-4">
        <h3>Ci troviamo:</h3>
        <address>Via Garibaldi, 189 Castellammare del Golfo (TP)</address>
        <p><a class="text-light text-decoration-none " href="tel:+39 3331234567">+39 3331234567</a>
        </p>
      </div>
      <div class="col-lg-3 d-flex justify-content-md-start align-items-center mt-3">
        <a class=" nav-link button text-dark link-white text-center mb-5 buttonPrenota" href="#"
          target="_blank">Prenota
          Ora</a>
      </div>
    </div>
  </div>
  <div id="hr2"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-white text-center">
        <small class=" p-2"> &copy; 2022 Giovanni Galatioto</small>
      </div>
    </div>
  </div>

</footer>
