<main class="text-white ">
  <app-navbar></app-navbar>
  <div id="header" class="container-fluid">
    <div class="row text-white ">

      <h1 class="col-12 p-5 reveal" id="testoHeader">Apparire al meglio non passa mai di moda </h1>
      <div class="col-12 d-flex justify-content-center ">
        <a class=" nav-link button text-dark link-white text-center mt-5 mb-3 buttonPrenota" [routerLink]="['/prenota']"
          target="_blank">Prenota
          Ora</a>
      </div>

    </div>
  </div>
  <!-- vibrazioni -->
  <div class="container-fluid " id="vibrazioni">
    <div class="row text-white">
      <div class="col-12">
        <h1 class="reveal">Le vibrazioni</h1>
      </div>
      <div class="col-12 ">
        <p class="reveal">
          Barber Shop è specializzato in tagli classici, rifiniture per barba, rasature con asciugamani caldi e prodotti
          per la toelettatura di qualità. Il nostro team di barbieri professionisti e competenti lavora per aiutarti a
          ottenere il tuo look migliore. Siamo un po' vecchia scuola con un tocco moderno. Prosperiamo con ottima
          musica, conversazioni ponderate e promozione delle relazioni nella nostra comunità. Abbiamo creato un ambiente
          rilassato per la tua normale dose di cura di sé.


        </p>
      </div>
      <div class="col-12 d-flex justify-content-center mt-3">
        <a class=" nav-link button text-dark link-white text-center mt-5 mb-3 buttonPrenota" [routerLink]="['/prenota']"
          target="_blank">Prenota
          Ora</a>
      </div>
    </div>
    <div id="hr"></div>

  </div>
  <!-- orari -->
  <div id="contatti">
    <div class="container-fluid text-white mt-5 mb-5 text-center">
      <div class="row ">
        <div class="col-md-4" id="orariApertura">
          <h2 class="mb-5">Orario</h2>
          <p> Martedi - Sabato: 8:00 - 19:00</p>
          <p>Chiusura Domenica - Lunedi</p>
        </div>
        <div class="col-md-4">
          <h2 class="mb-5">Contattaci</h2>
          <p><a class="contat" href="tel:+39 3331234567">+39 3331234567</a></p>
          <p><a class="contat" href="malito:barbershop@gmail.com">barbershop@gmail.com</a></p>
        </div>
        <div class="col-md-4">
          <h2 class="mb-5">Siamo Qui!</h2>
          <address>Via Garibaldi, 189 Castellammare del Golfo (TP)</address>
        </div>
      </div>
    </div>

  </div>
  <div id="imgIntermedia"></div>
  <!-- preziario -->

  <div id="preziario">
    <div class="container-fluid text-center text-dark mt-5 mb-5 w-100 h-50 prezzi">
      <img src="assets/img/icona.jpg" alt="">
      <h1 class="mb-5">Il Preziario</h1>
      <div class="row justify-content-center mb-4 prezzo">
        <div class="col-md-6 ">
          <h1>Taglio 13&euro;</h1>
          <h5>Rilassati mentre il tuo barbiere realizza il tuo look su misura. Se stai cercando una dissolvenza calva o
            se i tuoi capelli sono attualmente più lunghi della lunghezza del lobo dell'orecchio, prenota dalle nostre
            altre opzioni.</h5>
        </div>
        <div class="col-md-6 ">
          <h1>Barba 6&euro;</h1>
          <h5>Lascia che il tuo barbiere applichi la sua abilità artistica per aiutarti a creare lo stile di barba o
            baffi dalla forma perfetta che desideri.</h5>
        </div>
      </div>
      <div class="row justify-content-center mb-4 prezzo">
        <div class="col-md-6">
          <h1>Shampoo e Piega 9&euro;</h1>
          <h5>Ci preoccupiamo di lavare i tuoi capelli e dopo dargli la forma da te desiderata</h5>
        </div>
        <div class="col-md-6">
          <h1>Taglio e barba 19&euro;</h1>
          <h5>Combinazione classica di taglio di capelli completo e rasatura con asciugamano caldo.</h5>
        </div>
      </div>
      <div class="row justify-content-center mb-4 prezzo">
        <div class="col-md-6">
          <h1>Taglio e Shampoo 19&euro;</h1>
          <h5>Combinazione classica di taglio di capelli con shampoo finale </h5>
        </div>
        <div class="col-md-6">
          <h1>Modellatura Barba 7&euro;</h1>
          <h5>Combinazione di taglio, lunghezza singola e modellatura barba/baffi.</h5>
        </div>
      </div>
      <div class="row justify-content-center mb-4 prezzo">
        <div class="col-md-6">
          <h1>Acconciatura 5&euro;</h1>
          <h5>Rimettiamo in ordine i tuoi capelli precedentemente tagliati</h5>
        </div>
        <div class="col-md-6">
          <h1>Servizio completo 25&euro;</h1>
          <h5>Comprende taglio capelli con acconciatura, taglio barba o modellatura a tua scelta con shampoo finale
          </h5>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center mt-3">
        <a class=" nav-link button  link-white text-center mt-5 mb-3 buttonPrenota2" [routerLink]="['/prenota']"
          target="_blank">Prenota
          Ora</a>
      </div>
    </div>
  </div>
   <!-- foto di lavori giornalieri -->
  <div id="lavGiorn" class=" text-center mt-5 mb-5">
    <h1>I miei lavori</h1>
    <div class="container-fluid">
      <div class="row mb-4">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <img class="img-fluid" src="assets/img/photo3.jpeg" alt="">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <img class="img-fluid" src="assets/img/photo4.jpeg" alt="">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <img class="img-fluid" src="assets/img/photo8.jpeg" alt="">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <img class="img-fluid" src="assets/img/photo5.jpeg" alt="">
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <img class="img-fluid" src="assets/img/photo10.jpeg" alt="">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <img class="img-fluid" src="assets/img/photo11.jpeg" alt="">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <img class="img-fluid" src="assets/img/photo7.jpeg" alt="">
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <img class="img-fluid" src="assets/img/photo9.jpeg" alt="">
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</main>
