<div id="section2" class="text-white">
  <app-navbar></app-navbar>
  <div id="header4" class="container-fluid">
    <div class="row text-white ">

      <h1 class="col-12 p-5" id="testoHeader4">Siamo esperti in toelettatura e cura della persona </h1>
      <div class="col-12 d-flex justify-content-center ">

      </div>

    </div>
  </div>
  <!-- storia -->
  <div class="container-fluid " id="storia">
    <div class="row">
      <div class="col-12">
        <h1>La nostra storia</h1>
      </div>
      <div class="col-12 ">
        <p>
          Crediamo che andare dal barbiere debba essere più di una commissione. Dovrebbe essere un'esperienza. Per noi è
          importante che tu ottenga un ottimo taglio di capelli, riceva un servizio straordinario e costruisca relazioni
          durature in uno spazio confortevole. Ci impegniamo a essere un ambiente inclusivo e accogliente per ogni
          cliente e membro del nostro team che entra nel nostro spazio indipendentemente da sesso, razza, orientamento
          sessuale, religione o politica. Celebriamo la diversità all'interno della nostra comunità e ci proponiamo di
          essere un esempio di unità da Barber Shop.
        </p>
      </div>
    </div>
  </div>

  <!-- frase aspetto -->
  <div class="frAspetto text-center text-dark bg-light">
    <div class="frAs">
      <h1> <i> "Vogliamo che gli uomini di Barber shop abbiano un bell'aspetto, si sentano bene e amino la loro
          esperienza da barbiere". </i></h1>
      <p><i>— Jonathan Morris, Owner</i></p>
    </div>
  </div>

  <!-- sede -->
  <div class="sede">
    <h1>La nostra sede</h1>
    <img class="img-fluid" src="assets/img/ingresso.jpeg" alt="">
  </div>
  <!-- apparire per il meglio -->
  <div class="best text-center">
    <div id="header" class="container-fluid">
      <div class="row text-white ">

        <h1 class="col-12 p-5 " id="testoHeader">Pronto per apparire al meglio? </h1>
        <div class="col-12 d-flex justify-content-center ">
          <a class=" nav-link button link-white text-center  buttonPrenota2" [routerLink]="['/prenota']" target="_blank">Prenota
            Ora</a>
        </div>

      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
